.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}

.logo {
  font-weight: 600;
  font-size: 20px;
}

@media (min-width: 768px) {
  .logo {
    font-size: 32px;
  }
}
