.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 320px;
  margin: 0 auto;
}

.element {
  width: 100%;
}

.card_container {
  border-radius: 20px;
  height: 300px;
  padding: 5px;
}

.card_name {
  display: block;
  text-align: end;
  font-size: 42px;
  line-height: 1.5;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.1);
  font-family: mr;
  font-weight: 800;
}
.card_name:nth-child(2) {
  color: black;
}

.btn {
  display: flex;
  border-radius: 20px;
  position: absolute;
  bottom: 2%;
  left: 10%;
  color: white;
}

.view_card_wrapper {
  position: relative;
}

@media (min-width: 768px) {
  .card_name {
    font-size: 62px;
  }

  .card_container {
    height: 600px;
  }

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .element {
    flex-basis: calc((100% - 30px) / 3);
  }
}
