.contaier {
  align-items: center;
  justify-content: center;
  display: block;
}

.title {
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;

  /* transform: translate(-50%, -50%) translate( calc(50vw + 1px), calc(50vh + 1px)); */
  /* https://codepen.io/team/keyframers/pen/jRaLgX */

}
.description {
  font-size: 16px;
  line-height: 1;
}

.binary_code {
  position: absolute;
  right: 10px;
  top: 60px;
  font-size: 30px;
}


@media (min-width: 768px) {
  .title {
    /* height: 40vh; */
  }
  .title > h2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    line-height: 1.25;
  }
  .description {
    font-size: 48px;
    line-height: 1.5;
    text-align: end;
  }
}

.title > h2 {
  animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.description > h1 {
  animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}